<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>PennLunch App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/app.css" rel="stylesheet">
    <link href="../static/main.css" rel="stylesheet">
    
  </head>

  <body>


    <div class = "main">
        <div id = "headerBar">
        <div id="logo">PennLunch</div> 

        {% if session.get('loggedinName') != None %} 
        <button class='btns' id="signup"><a href="/signout"> Sign Out </a> </button> 
        {% endif %}
        <button class='btns'  id="home" style="color: white;"> <a href="/index"> Home </a> </button>
        {% if session.get('loggedinName') == None %} 
        <button class='btns' id="login"><a href="/login"> Login </a> </button> 
        <button class='btns' id="signup"><a href="/signup"> Sign Up </a> </button> 
        {% endif %}


          <!-- <ul class="nav nav-pills pull-right">
            <li role="presentation" id="login" class="active" ><a href="/index">Home</a></li>
            <li role="presentation" id="login"><a href="/login">Log In</a></li>
            <li role="presentation" id="signup"><a href="/signup">Sign Up</a></li>
          </ul> -->

        </div>

        <h1 style="margin-top:100px">MEET, GREET AND EAT AT PENN </h1>
        <h3 style="margin:20px">Expand your horizons by having lunch with someone new.</h3>

        <h4 style="margin-top: 50px"><a class="btn-default" href="#newfriends"role="button">Learn more</a></h4>
    
    </div>
    <div id = "footer"></div>


<section>
    <div class="container" id="newfriends">
      <h1> <strong> <center> Meet New Friends </center> <strong> </h1>
      <p> <center> Grab meals with students you otherwise never would've met </center> </p>
    </div>

    <div class="row" id="pics">
            <div class="col-md-4" id="pic">
              
              <img src="static/juliadrinksagain.jpg" alt="Paul Rivera teaching">

            </div>

            <div class="col-md-4" id="pic">
              
              <img src="static/jianfood.jpg" alt="Paul Rivera teaching">

            </div>

            <div class="col-md-4" id="pic">

              <img src="static/pataya.jpg" alt="Students pitching">

            </div>
    </div>

    <section>

<div style="background-image: url(../static/upennlocust.jpg);" id="gradient"> <div>        
  <div id = "headerBar">
        
        </div>

        <h1  style="padding-bottom: 120px; padding-top: 50px; padding-right: 100px; padding-left: 100px; color:white"> <center> College is the best time to meet people. Every person has an interesting story behind them. Why not celerbate the diversity with FOOD! <center> </h1>
    
    </div>
</section>

    <div class="row" id="pics">
        <h1> <strong> <center> Discover New Restaurants </center> <strong> </h1>
      <p> <center> Explore Philadelphia by trying new restaurants with new friends </center> </p>
            <div class="col-md-4" id="pic">
              
              <img src="static/koreana.jpg" alt="Paul Rivera teaching">

            </div>

            <div class="col-md-4" id="pic">
              
              <img src="static/shakeshack.jpg" alt="Paul Rivera teaching">

            </div>

            <div class="col-md-4" id="pic">

              <img src="static/tysonbees.jpg" alt="Students pitching">

            </div>
    </div>

    <div class="row" id="pics">
      <div class="col-md-4" id="pic">
              
              <img src="static/saigon.jpg" alt="Paul Rivera teaching">

            </div>

            <div class="col-md-4" id="pic">
              
              <img src="static/shanks.jpg" alt="Paul Rivera teaching">

            </div>

            <div class="col-md-4" id="pic">

              <img src="static/ramenbar.jpg" alt="Students pitching">

            </div>

</section>

    <div id = "footer"></div>



  </body>
</html>