<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>PennLunch App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/app.css" rel="stylesheet">
    
  </head>

  <body>

  	<div class="containers">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active" ><a href="/index">Home</a></li>
            <li role="presentation"><a href="/login">Log In</a></li>
            <li role="presentation"><a href="/signup">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">PennLunch</h3>
      </div>

    <title>{{ title }} - microblog</title>
      <h1>{{ user1.nickname }}: {{user1.statement}}</h1>
      <h1>{{ user2.nickname }}: {{user2.statement}}</h1>

    <div class="container" id="newfriends">
      <h1> <strong> <center> Meet New Friends </center> <strong> </h1>
      <p> <center> Grab meals with students you otherwise never would've met </center> </p>
    </div>

    <div class="row" id="pics">
            <div class="col-md-4" id="pic">
              
              <img src="static/juliadrinksagain.jpg" alt="Paul Rivera teaching">

            </div>

            <div class="col-md-4" id="pic">
              
              <img src="static/jianfood.jpg" alt="Paul Rivera teaching">

            </div>

            <div class="col-md-4" id="pic">

              <img src="static/pataya.jpg" alt="Students pitching">

            </div>
    </div>


  </body>
</html>