html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#pic img {
	max-width: 100%;
	max-height: 100%;
	height: 300px;
	display:block;
	border: 3px solid #faf3bc;
	margin-top: 20px;
	margin-bottom: auto;
}

#pics {
	margin: 20px 20px 20px 20px;
	
}


.btn-default {
	padding: 25px 25px;
	opacity:0.4;
}



.main {
    
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("https://static.pexels.com/photos/5317/food-salad-restaurant-person.jpg") no-repeat center center fixed; 

    height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    text-align: center;
    padding-top: 30px;
    color: white;
    font-color: white;
    font-family: "Helvetica Neue";
    
}

.main {
    background: url("https://cdn.phillymag.com/wp-content/uploads/2013/04/Locust_Walk.jpg") no-repeat center center fixed; 
    height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    text-align: center;
    padding-top: 30px;
    color: white;
    font-color: white;
    font-family: "Helvetica Neue";
}

.main h1 {
    font-size: 50px;
    font-family: "Helvetica Neue";
    margin-bottom: -5px;
    
    
}


#info {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    width: 200px;
    height: 50px;
    margin-left: 43%;
    margin-bottom: -10px;
    vertical-align: middle;
    top: 40%;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 15px;

}

#headerBar {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 70px;
}

#logo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-emphasis: italic;
    margin-left: -900px;
    
    
}

a {
	color: white;
}

.btns {
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    moz-box-shadow: 0px 0px 0px 0px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 0px #9fb4f2;
	box-shadow: 0px 0px 0px 0px #9fb4f2;
	
	background: transparent;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:18px;
	padding:12px 28px;
	text-decoration:none;    
    margin-top: -40px;
    margin-right: 5px;
    right: 200px;
    top: 70px;
    float: right;
    
} 

#login {
	margin-left: -20px;
	font-color: white;
}

#signup {
    right: 100px;
}



