<head>
	<link href="static/app.css" rel="stylesheet" media="screen">	
</head>
<body>
<div>
	

<div id="wrapper" class="">
		<!-- /top-nav-->
		<div id="main-container ">
			            






			            <div class="col-md-12">


			            			            <form class="form-horizontal" method="post" action="">
						{{ form.hidden_tag() }}
                        <label class="control-label" for="txtTitle">Title: {{ form.title }}</label> 


                        <label class="control-label" for="txtPost">Post: {{ form.post }}</label>
  

                            <input class="btn btn-primary" type="submit" value="Post" />
                            </form>
                            </div>
			</div>

			<div class="padding-md row col-md-12">
				<div class="timeline-wrapper">
					<!-- /timeline-item -->
					{% for post in myList %}
					<div>
						<div class="timeline-item">
							<div class="timeline-info">
								<div class="time">
									{{ post['time']}}
								</div>
							</div>
							<div class="panel panel-default timeline-panel">
								<div class="panel-heading">
									{{ post['title'] }}

								</div>
								<div class="panel-body">
									<p>
										{{ post['post'] }}
									</p>

									<p>
										{{ post['name'] }}
									</p>

									<p>
										{{ post['phone'] }}
									</p>
									<a class="btn btn-xs btn-success" href="/sendMessage/{{post['phone']}}"><i class="fa fa-reply"></i>Respond</a>
								</div>
							</div><!-- /panel -->
						</div><!-- /timeline-item -->
						</div>
						<div class="seperator"></div>		
					{% endfor %}

				</div><!-- /timeline-wrapper -->
			</div><!-- /.padding -->
		</div><!-- /main-container -->
	</div>


</div>
</body>