<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="profileStyle.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700italic' rel='stylesheet' type='text/css'>
    
  
</head>
<body>
    <div id="headerBar">
        <img id="profpicHeader" src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Panda_Cub_from_Wolong,_Sichuan,_China.JPG"/>
        <p id="name">Arvind Raju</p>
        <div id="main-container ">
			            






			            <div class="col-md-12">


			            			            <form class="form-horizontal" method="post" action="">
						{{ form.hidden_tag() }}
                        <label class="control-label" for="txtTitle">Title: {{ form.title }}</label> 


                        <label class="control-label" for="txtPost">Post: {{ form.post }}</label>
  

                            <input class="btn btn-primary" type="submit" value="Post" />
                            </form>
                            </div>
			</div>

        <p class='headerBarButton' id="logoutButton">Log Out</p>
    </div>
    
       
</body>
</html>