<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PennLunch App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/app.css" rel="stylesheet">
    <link href="../static/main.css" rel="stylesheet">

    
  </head>

  <body>
    <div class = "main">
        <div id = "headerBar">
        <div id="logo">PennLunch</div>

        <button class='btns'  id="home" style="color: white;"> <a href="/index"> Home </a> </button>
        {% if session.get('loggedinName') == None %} 
        <button class='btns' id="login"><a href="/login"> Login </a> </button> 
        <button class='btns' id="signup"><a href="/signup"> Sign Up </a> </button> 
        {% endif %}
        {% if session.get('loggedinName') != None %} 
        <button class='btns' id="signout"><a href="/signout"> Sign Out </a> </button> 
        {% endif %}


<h1 style="margin:20px">Sign Up</h1>
    <div class="containers">


  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Username:<br>
          {{ form.username(size=80) }}<br>
      </p>
      <p>
          Password:<br>
          {{ form.password(size=80) }}<br>
      </p>
      <p>
          First Name:<br>
          {{ form.firstname(size=80) }}<br>
      </p>
      <p>
          Last Name:<br>
          {{ form.lastname(size=80) }}<br>
      </p>
      <p>
          Phone:<br>
          {{ form.phone(size=80) }}<br>
      </p>

      <p>
          Email:<br>
          {{ form.email(size=80) }}<br>
      </p>


      <p style="color:black;"><input type="submit" value="Sign Up"></p>
  </form>